.Sidedrawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40%;
    z-index: 1000;
    background-color: #F0EBE5;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    transition: .8s;
    font-variant: all-petite-caps;
}

.Sidedrawer ul {
    line-height: 6rem;
    list-style: none;
    padding-left: 0;
}

.Sidedrawer ul li a {
    text-decoration: none;
    color: #313131;
    font-weight: 500;
    font-size: 200%;
    transition: .4s;
}

.Sidedrawer ul li a:hover {
    color: #711616;
}