.Noodles {
    display: flex;
    flex-flow: column;
    padding-top: 200px;
    justify-content: center;
}

.Noodles img {
    width: 200px; 
    align-self: center; 
    padding: 0;
    margin: 0;
}

.Noodles h1 {
    text-align: center;
    color: #444;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 140%;
}

.GoBack {
    border: none;
    font-weight: 700;
    font-size: 140%;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(87, 87, 87);
    transition: .4s;
}

.GoBack:hover {
    color: #FFAD41;
}

.Noodles a {
    align-self: center;
    padding: 50px;
}

