.Cart {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 30px;
}

.CartTitle {
    font-size: 100%;
    font-weight: 600;
    color: #711616;
}

.CartDiv .QuantityBtn {
    vertical-align: sub;
}

.CartTitleRes {
    font-size: 100%;
    font-weight: 500;
    padding-right: 30px;
}

.CartTitleRes2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #711616;
    line-height: 2.5rem;
}

.CartTitleRes3 {
    font-size: 100%;
    font-weight: 500;
    padding: 0 10px;
}

.CartDiv {
    padding-bottom: 20px;
}

.CartDiv .CartBtn {
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .5s;
    width: fit-content;
    padding: 10px 20px;
    color: #65522E;

}

.CartDiv .CartBtn:hover {
    color: #b82e24;
    background-color: transparent;
    border: 2px solid #b82e24;
}

.ItemRemovedConfirmation .BringBackBtn, .ItemRemovedConfirmation .DeleteMealBtn {
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
    width: fit-content;
    border: 2px solid transparent;
    padding: 10px 20px;
}

.ItemRemovedConfirmation .DeleteMealBtn {
    color: #b82e24;
}

.ItemRemovedConfirmation .BringBackBtn {
    color: #B4891C;
}

.ItemRemovedConfirmation .BringBackBtn:hover {
    border: 2px solid #B4891C;
}

.ItemRemovedConfirmation .DeleteMealBtn:hover {
    border: 2px solid #b82e24;
}

.ItemRemovedConfirmation .MealRemovedMsg {
    font-weight: 600;
    color: rgb(114, 114, 114);
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 110%;
    padding: 0 20px;
}