.Navbar {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    padding-left: 90px;
    font-size: 135%;
    background-color: #fff;
    border-bottom: 2px solid rgb(204, 204, 204);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Navbar span {
    align-self: center;
    padding-right: 200px;
    cursor: pointer;
}

.Navbar span svg {
    width: 20px;
}

.Navbar span svg path {
    transition: .6s; 
    fill: #F0A017;
}

.Navbar span svg path:hover {
    fill: #313131;
}

.Navbar nav {
    padding-right: 50px;
    padding-top: 5px;
    
}

.Navbar ul {
    list-style: none;
    margin-left: 10px;
    display: flex;
}

.Navbar ul li {
    align-self: center;
}

.Navbar ul li a, .Navbar ul li span{
    text-decoration: none;
    padding-left: 30px;
    color: #313131;
    transition: .4s;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

.Navbar ul li span:hover {
    color: #F0A017;
}

.Navbar ul li a:hover {
    color: #F0A017;
}

.Navbar ul li a:enabled {
    color: #711616;
}

.Navbar .logo {
    color: #F0A017;
    cursor: inherit;
    letter-spacing: .4rem;
}

.Navbar span button {
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 600;
    font-size: 50%;
}

.MobileOnly {
    display: none;
    font-size: 200%;
}

#ham {
    font-size: 200%;
    color: #931D48;
}

.CartContainer {
    display: flex;
}

.OpenCart {
    font-size: 60%;
    font-weight: 500;
    padding-left: 20px;
}

.CartSpan .CartBtn {
    width: 100px
}

@media(max-width: 1250px) {
    .Navbar ul li a {
        font-size: 85%;
        padding-left: 20px;
    }
}

@media(max-width: 1150px) {
    .Navbar ul li a {
        font-size: 60%;
        padding-left: 15px;
    }
}

@media(max-width: 1020px) {

    .MobileOnly {
        display: block;
    }

    .DesktopOnly {
        display: none;
    }

    .Navbar {
        justify-content: center;
    }

    .Navbar span {
        padding-right: 135px;
    }
}

@media(max-width: 700px) {
    .Navbar .logo {
        font-size: 85%;
        letter-spacing: .1rem;
    }

    .Navbar ul li span {
        padding-left: 0;
    }

    .Navbar {
        padding-left: 50px;
    }
}

@media(max-width: 580px) {
    .Navbar span{
        padding-right: 100px;
    }
}