.Modal {
    width: 70%;
    background-color: #ebebeb;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 1000;
    transition: .6s;
    max-height: 80%;
}

@media(max-width: 900px) {
    .Modal {
        width: 90%;
        left: 5%;
    }
}