.NavProfile {
    font-size: 50%;
    display: flex;

}

.Link {
    cursor: pointer;
    font-weight: 600;
}

.Link:hover {
    color: #6e1e13;
}

.NavProfile span {
    padding-right: 5px;
    padding-left: 5px;
    align-self: center;
}

.Or {
    font-weight: 600;
    text-transform: uppercase;
}

.NavProfile span img {
    padding-right: 50px;
    width: 80px;
}

.Logout {
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
}

.Logout:hover {
    color: #6e1e13;
}

@media(max-width: 620px) {
    .NavProfile span img {
        width: 50px;
    }

    .Link, .Or {
        display: none;
    }
}