.Login {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: space-between;
    background-color: #F0EBE5;
    overflow-y: scroll;
}

.Login h3 {
    text-transform: uppercase;
    color: #65522E;
    font-size: 150%;
}

.Login img {
    width: 100px;
}

.Login button {
    width: 50%;
    background-color: #451C1C;
    color: rgb(228, 228, 228);
    border: none;
    padding: 20px;
    align-self: center;
    margin-bottom: 10px;
    font-size: 100%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.Login svg {
    cursor: pointer;
}

.Login svg path {
    transition: .5s;
}

.Login svg path:hover {
    fill: #451C1C;
}

.Or {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 120%;
}

.Login .AccountButton {
    margin-top: 20px;
    background-color: #65522E;
}

.Login .Forgot {
    background-color: transparent;
    border: none;
    color: #451C1C;
    font-weight: 700;
}

.Login input {
    width: 50%;
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #451C1C;
    font-size: 130%;
    text-align: center;
}

.Login input::placeholder {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
}

.Login p {
    width: 50%;
    align-self: center;
    font-size: 150%;
    line-height: 3rem;
    font-style: italic;
    font-weight: 600;
}

.Login a {
    text-decoration: none;
    color: #65522E;
    padding-top: 50px;
    text-align: center;
}

.TopLine {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.Form {
       
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    
}


div.Form {
    display: flex;
    flex-flow: column;
}

.LoginButton, .AccountButton, .Forgot {
    cursor: pointer;
    transition: .5s;
    border: 1px solid transparent;
}

.LoginButton:hover {
    background-color: transparent;
    border: 1px solid #451C1C;
    color: #451C1C;
}

.AccountButton:hover {
    background-color: transparent;
    border: 1px solid #65522E;
    color: #65522E;
}

.Forgot:hover {
    color: #926e2c;
}

.Meals {
    list-style: none;
    align-self: center;
}

.Cart .CartTitle {
    font-size: 160%;
    font-weight: 600;
    color: #711616;
    padding-top: 50px;
}

.Cart {
   padding-left: 55px;
   padding-bottom: 30px;
   padding-top: 20px;
}

.CartContainer {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-top: 30px;
}

.CartTitleRes {
    font-size: 160%;
}
