.Login {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: space-between;
    background-color: #F0EBE5;
    overflow-y: scroll;
    padding-bottom: 20px;
}

/* width */
.Login::-webkit-scrollbar {
    width: 20px;
}
  
  /* Track */
.Login::-webkit-scrollbar-track {
    background: #e6d1ac;
}
  
  /* Handle */
.Login::-webkit-scrollbar-thumb {
    background: #451c1c41;
}
  
  /* Handle on hover */
.Login::-webkit-scrollbar-thumb:hover {
    background:#2c121291;
}

.Login h3 {
    text-transform: uppercase;
    color: #65522E;
    font-size: 150%;
}

.Login img {
    width: 100px;
}

.Login button {
    width: 50%;
    background-color: #451C1C;
    color: rgb(228, 228, 228);
    border: none;
    padding: 20px;
    align-self: center;
    margin-bottom: 10px;
    font-size: 100%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: .5s;
}

.EmptyCart .EmptyBtn {
    padding: 20px 60px;
}

.EmptyCart .EmptyBtn:hover {
    background-color: #65522E;
}

.Login svg {
    cursor: pointer;
    width: 30px;
}

.Login svg path {
    transition: .5s;
}

.Login svg path:hover {
    fill: #451C1C;
}

.Or {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 120%;
    padding-bottom: 20px;
    padding-top: 10px;
}

.Login .AccountButton {
    margin-top: 20px;
    background-color: #65522E;
}

.Login .Forgot {
    background-color: transparent;
    border: none;
    color: #451C1C;
    font-weight: 700;
}

.Login input {
    width: 50%;
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #451C1C;
    font-size: 130%;
    text-align: center;
}

.Login input::placeholder {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
}

.Login p {
    width: 80%;
    text-align: center;
    align-self: center;
    font-size: 100%;
    font-weight: 600;
    line-height: 3rem;
    font-style: italic;
    font-weight: 600;
}

.Login a {
    text-decoration: none;
    color: #65522E;
    padding-top: 50px;
    text-align: center;
}

.TopLine {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.Form {
       
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(236, 236, 236);
    border-top: 2px solid #c2c2c2;
}

.TotalDetails {
    border-bottom: 2px solid #c2c2c2;
    padding-bottom: 20px;
}


div.Form {
    display: flex;
    flex-flow: column;
}

.LoginButton, .AccountButton, .Forgot {
    cursor: pointer;
    transition: .5s;
    border: 1px solid transparent;
}

.LoginButton:hover {
    background-color: transparent;
    border: 1px solid #451C1C;
    color: #451C1C;
}

.AccountButton:hover {
    background-color: transparent;
    border: 1px solid #65522E;
    color: #65522E;
}

.Forgot:hover {
    color: #926e2c;
}

.EmptyMsg {
    align-self: center;
    color: #65522E;
    font-size: 140%;
}

.EmptyCart .EmptyUserReorderBtn {
    background-color: #65522E;
}

.EmptyCart .EmptyUserReorderBtn:hover {
    background-color: #451C1C;
}

.EmptyCart .EmptyGuestLoginBtn {
    background-color: #65522E;
}

.EmptyCart .EmptyGuestLoginBtn:hover {
    background-color: #451C1C;
}

.EmptyCart .EmptyGuestRegisterBtn:hover {
    background-color: #65522E;
}

.EmptyCart .EmptyGuestBtns {
    align-self: center;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 30px;
}

.EmptyCart .EmptyGuestBtns button {
    cursor: pointer;
    transition: .5s;
}

.EmptyCart .EmptyPitchMsg {
    color: #711616;
    
}

.Cart .CartTitle {
    font-size: 110%;
    font-weight: 600;
    color: #711616;
    padding-top: 50px;
}

.Cart {
   padding-left: 55px;
   padding-right: 55px;
   padding-top: 40px;
   padding-bottom: 50px;
   border-bottom: 2px solid #65522E;
}

.EmptyCart {
    display: flex;
    flex-flow: column;
    align-self: center;
    padding: 40px 0;
}

.CartContainer {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-top: 30px;
}

.CartTitleRes {
    font-size: 100%;
    font-weight: 700;
    letter-spacing: .1rem;
    padding-left: 5px;
}

.PayDiv {
    display: flex;
    justify-content: center;
}

.PayDiv .Pay {
    align-self: center;
    background-color: #711616;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    border: none;
    width: 100%;
    margin: 0;
    padding: 40px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 0;
}

.PayDiv .Pay:hover {
    background-color: #65522E;
}

.CartContainer .Summary {
    font-size: 160%;
    font-weight: 500;
    color: #65522E;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding: 20px 0;
}