.Menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(245, 245, 245);
}

.Menu div {
    align-content: center;
    text-align: center;
    width: 22%;
    align-self: flex-end;
    padding-bottom: 60px;
    color: rgb(43, 43, 43);
    transition: .5s;
}

.Menu img {
    width: 200px;
    align-self: center;
    cursor: pointer;
    transition: .5s;
}


.Menu img:hover {
    transform: rotate(45deg);
}

.Menu div:hover {
    color: #FFAD41;
}

.Menu h3 {
    cursor: pointer;
}