.Header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../../../assets/img/hero2.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.Header h1 {
    font-size: 350%;
    line-height: 3rem;
}

.Header h2, .Header h1, .Header span {
    padding-left: 100px;
}

.Header h1, .Header h2 {
    line-height: 1.5rem;
}

.Header span {
    color: #451C1C;
    font-size: 70%;
    font-weight: 500;
}

.Header h2 {
    font-size: 170%;
    font-weight: 300;
    color: #fff;
    width: 35%;
    line-height: 2rem;
}

.Header button {
    background-color: #FFAD41;
    padding: 15px 100px;
    color: #fff;
    font-size: 175%;
    text-transform: uppercase;
    border: none;
    transition: .5s;
    cursor: pointer;
    width: fit-content;
    margin-left: 100px;
    margin-top: 50px;
}

.Header button:hover {
    background-color: #451C1C;
}