.Subheader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(204, 204, 204);
    border-bottom: 2px solid rgba(204, 204, 204, 0.418);
}

.Subheader span {
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Subheader button {
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    background: none;
    font-size: 110%;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.Subheader .Slogan {
    text-transform: uppercase;
    font-size: 160%;
    font-weight: 600;
    color: rgb(75, 20, 11);
}

.Subheader .CreateAccount {
    border: 2px solid rgb(75, 20, 11);
    color: rgb(75, 20, 11);
    font-weight: 600;
    padding: 5px 20px;
    transition: .5s;
}

.Subheader .Login {
    color: #FFAD41;
    font-weight: 600;
    transition: .5s;
}

.Subheader .CreateAccount:hover {
    color: #FFAD41;
    border: 2px solid #FFAD41;
}

.Subheader .Login:hover {
    color: rgb(75, 20, 11);
}

.Subheader .Or {
    padding: 0;
    font-weight: 800;
    font-size: 70%;
}

@media(max-width: 800px) {
    .Subheader .Slogan, .Subheader .Login, .Subheader .CreateAccount {
        font-size: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .Subheader span {
        padding-left: 10px;
        padding-right: 10px;
    }

    .Subheader .CreateAccount {
        font-size: 100%;
    }
}

@media(max-width: 600px) {
    .Subheader .Slogan, .Subheader .Login {
        font-size: 90%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Subheader span {
        padding-left: 0px;
        padding-right: 0px;
    }

    .Subheader .CreateAccount {
        font-size: 90%;
    }
}

@media(max-width: 500px) {
    .Subheader {
        flex-flow: column;
    }

    .Subheader span {
        padding-bottom: 10px;
    }
}